<h2>Add a New Pet</h2>
<form action="/main/add" method="POST">
<label for="name">Enter Pet Name: </label>
<input type="text" name="name" placeholder="enter name" required><br>

<label for="description">Enter Pet Description: </label>
<input type="text" name="description" placeholder="enter description" required><br>

<label for="image">Enter a URl for the Pet Image: </label>
<input type="text" name="imgUrl" placeholder="enter image url" required><br>

<button type="submit">Add Pet!</button>
</form>
